multidict
tqdm
datasets
tokenizers
termcolor
openai
idna
sympy
gitdb
numpy
aiohttp
matplotlib
sentencepiece
safetensors
accelerate
frozenlist
zipp
lit
scipy
wheel
aiosignal
requests
filelock
wandb
psutil
torchmetrics
yarl
regex
mpmath
torchvision
joblib
appdirs
smartcrop
click
pandas
triton
torch
cycler
markupsafe
diffusers
jinja2
networkx
pathlib
responses
pathtools
threadpoolctl
packaging
pyarrow
pyparsing
urllib3
fsspec
setuptools
pip
transformers
nltk
certifi
kiwisolver
pytz
xformers
six
contourpy
dill
smmap
